.friend-card-container {
  border: solid 4px #5b0baf;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.user-name-item {
  padding: 0 25px;
}

.show-stats-item button {
  font-size: 20px;
  text-align: center;
  width: 75%;
  height: 70%;
  margin-top: 20px;
  padding: 8px 20px;
  margin-right: 20px;
  border: solid 3px #ffff;
}
