.register-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 260px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-image: url('/src/images/register-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media all and (max-width: 767px) {
  .register-header-container {
    height: 150px;
    background-size: 100% 50%;
    background-position: center bottom 75px;
  }
}
